.swiperCarousell {
  box-sizing: border-box;
  height: 26rem;
  /* overflow: visible; */
}

.carousell {
  box-sizing: border-box;
  max-width: 54rem;
  height: 22rem;
}

@media screen and (max-width: 1000px) {
  .carousell {
    max-width: 38.625rem;
  }
}

@media screen and (max-width: 775px) {
  .carousell {
    max-width: 26.25rem;
  }
}

.carousell_card {
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--western-brown);
  display: flex;
  max-width: 12.375rem;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}

.carousell_card > img {
  height: 265px;
  /* width: 100%; */
  object-fit: fill;
  align-self: stretch;
}

.carousell_card > p {
  text-align: center;
}

.swiper-pagination-bullet-active {
  background-color: var(--western-beige);
}

.swiper-pagination-bullet {
  background-color: var(--western-beige);
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--western-beige);
}

.swiper-button-prev,
.swiper-button-next,
.swiper-button-disabled {
  bottom: 0;
  top: auto;
  scale: 0.75 0.5;
}
