/* --- Desktop --- */
@media screen and (min-width: 850px) {
  #hero_mobile {
    display: none;
  }
  #hero_desktop {
    background-image: url(assets/detail-hero.png);
    height: 30.1875rem;
    color: var(--western-light-grey);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }

  #hero_desktop .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0rem 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #hero_desktop .nav .soc_media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #hero_desktop .hero_gradient {
    position: absolute;
    width: 100%;
    bottom: -0.1rem;
    top: 19rem;
    background: linear-gradient(to top, rgba(36, 13, 0, 1), rgba(36, 13, 0, 0));
  }

  #hero_desktop .hero_movie {
    display: inline-flex;
    align-items: flex-end;
    gap: 3rem;
    position: absolute;
    top: 11.94rem;
    left: 4rem;
    max-width: 72.1rem;
    margin-right: 5rem;
  }

  #hero_desktop .hero_movie .movie_textbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1.5rem;
  }

  #hero_desktop .hero_movie .movie_textbox > button {
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--western-orange);
    border-radius: 0.5rem;
  }
}
/* --- Tablet --- */
@media screen and (max-width: 850px) {
  #hero_desktop {
    display: none;
  }

  #hero_mobile {
    background-image: url(assets/detail-hero-mobile.png);
    height: 36rem;
    max-width: 100%;
    color: var(--western-light-grey);
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    background-size: cover;
    background-position: 60% center;
  }

  #hero_mobile .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0rem 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  #hero_mobile .nav .soc_media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #hero_mobile .hero_title {
    position: relative;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 auto;
    background-color: rgba(36, 13, 0, 0.7);
    text-align: center;
    margin-bottom: 1.31rem;
  }
  #hero_mobile .hero_gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -0.1rem;
    top: 19rem;
    background: linear-gradient(to top, rgba(36, 13, 0, 1), rgba(36, 13, 0, 0));
  }
  #hero_mobile .hero_title .heading-l {
    margin: 0 auto;
  }
  #hero_mobile .hero_movie {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 20rem;
  }

  #hero_mobile .hero_movie > img {
    max-width: 100%;
    width: 70rem;
    height: auto;
  }
  #hero_mobile .hero_title .paragraph {
    margin: 0 auto;
    text-align: center;
  }

  #hero_mobile .hero_movie > button {
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--western-orange);
    border-radius: 0.5rem;
    margin: 0 auto;
  }
}

/* --- Mobile --- */
@media screen and (max-width: 600px) {
  #hero_mobile .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
  }
  #hero_mobile .nav .soc_media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #hero_mobile .hero_movie {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 18rem;
  }
  #hero_mobile .hero_title .heading-l {
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Courier Prime", serif;
    font-weight: 700;
    font-style: normal;
    line-height: 34px;
    text-decoration: none;
    text-transform: none;
  }
  #hero_mobile .hero_gradient {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: -0.1rem;
    top: 31rem;
    background: linear-gradient(to top, rgba(36, 13, 0, 1), rgba(36, 13, 0, 0));
  }

  #hero_mobile .hero_title {
    position: relative;
    display: flex;
    padding: 1rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 auto;
    background-color: rgba(36, 13, 0, 0.7);
    text-align: center;
  }
}
