@font-face {
  font-family: courierBold;
  src: url(CourierPrime-Bold.ttf);
}

/* reset margins  */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

body {
  color: var(--western-beige);
  background-color: var(--western-brown-dark);
}
.content-container {
  display: flex;
  max-width: 54.125rem;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 0 4rem;
  box-sizing: content-box;
}

.now-showing,
.upcoming-titles {
  margin-bottom: -6rem;
}
